@import url( 'https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{

    font-family: 'Poppins', 'Segoe UI';
}
body
{
    min-height: 800px;
    margin: 0;
    background: url(pictures/workspacesized.jpg);
    background-size: cover;
    z-index: 999;
}
.container
{
    width: 1024;
    margin: 0 auto;
    justify-content: center;

}
@media (max-width: 600px) 
{
    header
    {
        text-align: center;
        flex-direction: column;
    }
    nav a
    {
        margin: .25em 0;
    }
   
}
header
{
    background: rgba(130, 200, 100, 0.95);
    padding: 0 1em;
    display: flex;
    justify-content: space-between;
}
header .logo
{
    color: #fff;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}
header .logo span
{
    color: #ff0157;
}
h4 {
    margin-top: 0;
    font-size: .75em;
    padding: 0 1em;
    font-weight: normal;
    font-style: italic;
}
nav
{
    overflow: hidden;
    padding: 1em;
}
nav a, .yourplanning .dropbtn
{
    text-decoration: none;
    font-size: 16px;
    color: #111;
    float: right;
    text-align: center;
    justify-content: center;
    display: flex;
    margin-left: 2em;
    border: none;
    outline: none;
    background-color: inherit;
}
nav a:hover, .yourplanning:hover .dropbtn
{
    color: #ff0157;
}
.yourplanning
{
    float: right;
    overflow: hidden;
}
.yourplanning-content
{
    display: none;
    position: absolute;
    background-color: rgb(130, 200, 100);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 1.5em;
    align-items: center;

}
.yourplanning-content a
{
    float: none;
    color: black;
    padding: 12px 18px;
    text-decoration: none;
    display: block;
    text-align: center;
    margin-right: 2em;
}
.yourplanning:hover .yourplanning-content
{
    display: block;
    border-radius: 5%;
}
.yourplanning-content a:hover
{
    background-color:rgba(224, 230, 221, 0.445);
    transition-duration: 0.5s;
    margin-left: 2em;
    margin-right: 2em;  
}
.banner
{
    align-items: center;
    min-height: 99%;
    padding: 40px;
    margin-top: 5em;

}
.banner h2
{
    font-size: 5em;
    color: white;
    text-align: center;
    margin-top: 1em;
}
.banner p
{
    color: #111;
    text-align: center;
    padding: 80px 40px;
    font-size: 1.5em;
    font-weight: 300;
    font-style: oblique;
}
.banner p span
{
    color: black;
    font-size: .5em;
    font-weight: 300;
}
.btn {
    font-size: 1em;
    color: #fff;
    background-color: #ff0156d0;
    display: inline-block;
    padding: 15px 30px;
    margin: 0 35em 5em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;

}

.btn:hover {
    letter-spacing: 6px;
}
@media (max-width: 600px) 
{
    .btn {
    margin: 0 15em 5em;
    font-size: .65em;
}
}
footer
    {
        padding: 8px 20px;
        text-align: center;
    }
footer p
{
    color: #333;
}
footer a
{
    color: #ff0157;
    font-weight: 500;
    text-decoration: none;
}
